<a href="https://colab.research.google.com/github/iakob12345/Wine-Project/blob/master/Wine_6_Inferences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive

drive.mount('/content/drive/')
path='/content/drive/My Drive/Colab Notebooks/winedata_df_after_statistically_significant_tests.pkl'

# read cvs in Pandas
winedata_df = pd.read_pickle(path)

Mounted at /content/drive/

In [ ]:
category_to_display = {
        'Red-Low':'4. Red-Low (0-10€)',
        'Red-Medium':'5. Red-Medium (10€ to 25€)',
        'Red-Premium':'6. Red-Premium (25€ to 100€)',
        'Red-Luxury':'7. Red-Luxury (100€ - ∞)',
        'White-Low':'1. White-Low (0-10€)',
        'White-Medium':'2. White-Medium (10€ to 25€)',
        'White-Premium': '3. White-Premium (25€ to 100€)',
        'Sparkling-Medium': '8. Sparkling-Medium (10€ to 25€)'}

winedata_df['categories'] = winedata_df.category.map(category_to_display)
winedata_df.rename(columns={'R_Z_scaling_factor':'scaled_rating'},inplace=True)
winedata_df[['categories','category']]

                           categories       category
0                  4. Red-Low (0-10€)        Red-Low
1                  4. Red-Low (0-10€)        Red-Low
2                  4. Red-Low (0-10€)        Red-Low
4                  4. Red-Low (0-10€)        Red-Low
5                1. White-Low (0-10€)      White-Low
...                               ...            ...
23447    6. Red-Premium (25€ to 100€)    Red-Premium
23449  3. White-Premium (25€ to 100€)  White-Premium
23450  3. White-Premium (25€ to 100€)  White-Premium
23452    6. Red-Premium (25€ to 100€)    Red-Premium
23453  3. White-Premium (25€ to 100€)  White-Premium

[18518 rows x 2 columns]

#Final Results

In [ ]:
winedata_categories = winedata_df.groupby(['categories','country'])\
                                 .agg(Count = ('link','size'), Rating = ('scaled_rating','mean'), Price = ('price','mean'), Value = ('value_scaled','mean'))\
                                 .reset_index()\
                                 .sort_values(by=['categories','Value'],ascending=[1,0])\
                                 .set_index(['categories','country'])\
                                 .round(1)
                                 
Message = 'Rating, Price and Value fields show averages \n' + 'Also, Rating and Value fields are scaled as of the modeling in previous chapters \n\n' 
print(Message + \
      winedata_categories[['Rating','Price','Value','Count']].to_string())

Rating, Price and Value fields show averages
Also, Rating and Value fields are scaled as of the modeling in previous chapters

                                                Rating  Price  Value  Count
categories                       country
1. White-Low (0-10€)             Portugal          3.7    7.1   55.2    282
                                 Spain             3.6    7.5   51.0    323
                                 France            3.6    7.7   48.5    389
                                 Italy             3.6    7.8   48.0    415
                                 Argentina         3.5    7.7   46.7     73
                                 Chile             3.4    7.8   45.6    143
                                 Germany           3.6    8.5   43.8    270
                                 Australia         3.4    8.1   42.8     59
                                 Austria           3.6    8.7   41.4    128
2. White-Medium (10€ to 25€)     Spain             3.9   15.1   27.6    299
                                 Argentina         3.7   14.1   27.2     66
                                 Portugal          3.8   15.2   26.8    247
                                 Chile             3.6   14.2   26.2     82
                                 Germany           3.6   15.6   24.4    714
                                 Italy             3.8   16.4   24.4    872
                                 United States     3.7   16.4   24.3    188
                                 France            3.7   16.4   24.0    684
                                 Austria           3.5   15.8   23.3    454
                                 Australia         3.5   15.9   22.9     80
3. White-Premium (25€ to 100€)   Portugal          4.2   39.4   11.8     65
                                 Spain             4.2   39.0   11.8     76
                                 Italy             4.2   39.6   11.5    310
                                 Germany           3.7   40.5   10.0    328
                                 Austria           3.6   39.8   10.0    288
                                 United States     4.0   46.4    9.7    205
                                 France            4.0   52.4    8.8    610
4. Red-Low (0-10€)               Portugal          3.7    7.4   55.0    274
                                 Italy             3.6    7.8   48.2    875
                                 Spain             3.5    7.6   48.2    453
                                 Argentina         3.6    8.0   47.1    114
                                 Chile             3.5    8.1   44.6    329
                                 France            3.4    8.0   44.0    890
                                 Australia         3.3    8.0   43.6    130
                                 Germany           3.3    8.0   43.1    127
                                 Austria           3.4    8.7   39.7    101
5. Red-Medium (10€ to 25€)       United States     4.2   15.6   28.1     76
                                 Argentina         4.0   15.5   27.2    176
                                 Portugal          3.9   16.0   25.8    273
                                 Chile             3.7   15.1   25.6    356
                                 Spain             3.9   16.6   24.6    618
                                 Italy             3.7   16.1   24.4   1232
                                 Austria           3.4   15.9   23.0    359
                                 Germany           3.4   15.9   22.6    319
                                 France            3.6   16.7   22.5    979
                                 Australia         3.5   17.3   21.5    364
6. Red-Premium (25€ to 100€)     United States     4.5   47.5   10.8     67
                                 Chile             4.1   49.0    9.7    142
                                 Austria           3.7   45.2    9.0    270
                                 Australia         3.9   50.0    8.8    347
                                 France            3.9   54.5    8.1   1073
8. Sparkling-Medium (10€ to 25€) Italy             3.8   15.6   26.1    362
                                 Spain             3.5   14.9   24.9    296
                                 Portugal          3.5   16.4   22.8     56
                                 Germany           3.4   15.7   22.6    145
                                 Austria           3.4   17.0   21.4     65